<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <link rel='stylesheet' href='/stylesheets/create.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.js"></script>
    <script src="//wzrd.in/standalone/blob-util@latest"></script>
  </head>

  <body>
    <% if (err){ %>
      <script>
        toastr.warning(`<%=err%>`);
      </script>
    <% } %>
    <% if (msg){ %>
      <script>
        toastr.success(`<%=msg%>`);
      </script>
    <% } %>


    <div id="container">
        <div id="title">Create a new class</div>

        <div class="formBox">
            <form action="/create" method="post">
                <input type="hidden" name="userid" value=<%=userid%>>
                <div class="fillin-box">
                    <div class="fillin-identifier"> Classname: </div>
                    <input class="fillin-input" type="text" name="classname" placeholder="CS 101" required>
                </div>
                <div class="fillin-box">
                    <div class="fillin-identifier"> Video Link: </div>
                    <input class="fillin-input" type="text" name="vlink" placeholder="_RUmzzRLzNs" required>
                </div>
                <div id="button-container">
                    <button type="submit">Create</button>
                </div>
                <a href="/class" style="text-decoration: none"> Or, click here to go back </a>
            </form>
        </div>
    </div>

  </body>

  <script src='/scripts/create.js'></script>

</html>
