<!DOCTYPE html>
<html>

<head>
    <title> Sign In </title>
    <link rel='stylesheet' type="text/css" href="../public/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
    <div id="container">
        <div class="content-container">
            <div class="logo-container">
                <div id="logo">

                </div>
            </div>
            <div class="logo-container">
                <div id="logo-text">
                    Welcome
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="login-container">
                <div class="fillin-box">
                    <div class="fillin-identifier">
                        Email
                    </div>
                </div>
            </div>
            <div class="login-container">
                <div class="fillin-box">
                    <div class="fillin-identifier">
                        Password
                    </div>
                </div>
            </div>
            <div class="login-container">

            </div>
            <div class="login-container">

            </div>
        </div>
    </div>
</body>

</html>
