<!DOCTYPE html>
<html>
	<head>
		<title>Course Title and Date</title>

		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

		<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
		<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

		<link rel="stylesheet" href="/stylesheets/index.css">
		<link rel="stylesheet" href="/stylesheets/mainview.css">
		<script src="/scripts/mainview.js"></script>
	</head>

	<body>
		<div id="main-container">
			<div id="navs">
				<div class="nav-item" id="classes">Classes</div>
				<div class="nav-item" id="videos">Videos</div>
				<div class="nav-item" id="logout">Logout</div>
			</div>
			<div id="main-content">
				<h1>Course Title and Date</h1>
				<div id="video-container"></div>
				<div id="subs"></div>
			</div>
		</div>
		<div id="side-container">
			<div id="tabs">
				<div class="tab-item" id="notes">Notes</div>
				<!-- <div class="tab-item" id="discussion">Discussion</div> -->
				<div class="tab-item" id="comments">Comments</div>
			</div>
			<div id="side-content">
				<div class="tab-info" id="notes-info">
					<div id="notes-editor"></div>
					<button id="notes-submit">Add Note</button>
				</div>
				<!-- <div class="tab-info" id="discussion-info"></div> -->
				<div class="tab-info" id="comments-info">
					<div id="comments-editor"></div>
					<button id="comments-submit">Submit Comment</button>
				</div>
			</div>
		</div>
	</body>
</html>
