body, html {
    margin: 0 auto;
    width: 100%;

    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#container {
    margin-top: 5vh;
    margin-left: 7vh;
    width: 40%;
    height: 70%;

    display: none;
}

#title {
    margin-bottom: 5vh;
    font-size: 5vh;
}

.fillin-box {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;

    height: 5vh;
    border-bottom: 1px solid whitesmoke;
    transition: 0.2s ease-out;
}

.fillin-identifier {
    position: relative;
    top: 35%;

    width: 22%;
    height: 70%;
    float: left;

    font-size: 3vh;
}

.fillin-input {
    background: inherit;
    color: inherit;
    float: left;
    margin-top: 1vh;

    border: transparent;
    width: 70%;
    height: 100%;
    font-size: 3vh;
}

.fillin-input:focus {
    outline-width: 0;
}

#button-container {
    width: 100%;
    height: 4vh;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

button {
    background-color: #4D89FF;
    border: transparent;
    border-radius: 10px;
    color: whitesmoke;
    transition: 0.2s ease-out;

    height: 100%;
    width: 15vw;
    font-size: 2.0vh;
    float: right;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#go-back {
    float: right;
    font-size: 2.0vh;
    color: #4D89FF;
    transition: 0.2s ease-out;
}

#go-back:hover {
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}
