body {
    color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

#main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow: scroll;
}

#navs {
    float: right;
    margin: 10px;
    display: flex;
}

.nav-item {
    flex: 1;
    margin: 10px;
    cursor: pointer;
}

.nav-item:hover {
    color: #88AABB;
}

#main-content {
    margin: 10px;
}

#video-container {
    background: #000000;
    width: 640px;
    height: 360px;
    margin: 10px auto;
}

#subs {
    margin: auto;
    height: 250px;
    background: #354C66;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    overflow: scroll;
}

.subtext {
    font-size: 16px;
    line-height: 21px;
    margin: 1px;
}

.subtext.passed {
    background: #4D89FF;
}

#side-container {
    background: #88AABB;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    min-width: 150px;

    overflow: scroll;
}

#tabs {
    background: #141E30;
    display: flex;
}

.tab-item {
    background: #225566;
    flex: 1;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: margin 100ms, padding 100ms;
}

.tab-item:hover {
    margin-top: 0;
    padding-bottom: 10px;
}

.tab-item.selected {
    background: #88AABB;
    margin-top: 0;
    padding-bottom: 10px;
}

#side-content {
    margin: 10px;
}

.tab-info {
    display: none;
}

.tab-info.selected {
    display: initial;
}

.ql-formats {
    margin-right: 0 !important;
}

#notes-editor, #comments-editor {
    background: #EEEEEE;
    color: #000000;
}

#notes-submit, #comments-submit {
    font-size: 14px;
    margin: 10px auto;
    cursor: pointer;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 8px 10px;
    background-color: inherit;
    font-family: inherit;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(129, 208, 214);
  }

  .drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .drop-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .drop-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .drop-content {
    display: block;
  }




.comments-section {
    border-bottom: 1px solid grey;
    padding: 10px;

    background: #EEEEEE;
    color: #000000;
}
