body {
    color: #EEEEEE;
}

::-webkit-scrollbar {
    display: none;
}

#main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow: scroll;
}

#navs {
    float: right;
    margin: 10px;
    display: flex;
}

.nav-item {
    flex: 1;
    margin: 10px;
    cursor: pointer;
}

.nav-item:hover {
    color: #88AABB;
}

#main-content {
    margin: 10px;
}

#video-container {
    background: #000000;
    width: 640px;
    height: 360px;
    margin: 10px auto;
}

#subs {
    margin: auto;
    height: 250px;
    background: #354C66;
    padding: 10px;
    border-radius: 10px;
    overflow: scroll;
}

#side-container {
    background: #88AABB;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    min-width: 150px;
}

#tabs {
    background: #141E30;
    display: flex;
}

.tab-item {
    background: #225566;
    flex: 1;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: margin 100ms, padding 100ms;
}

.tab-item:hover {
    margin-top: 0;
    padding-bottom: 10px;
}

.tab-item.selected {
    background: #88AABB;
    margin-top: 0;
    padding-bottom: 10px;
}

#side-content {
    margin: 10px;
}

.tab-info {
    display: none;
}

.tab-info.selected {
    display: initial;
}

.ql-formats {
    margin-right: 0 !important;
}

#notes-editor, #comments-editor {
    background: #EEEEEE;
    color: #000000;
}

#notes-submit, #comments-submit {
    font-size: 14px;
    margin: 10px auto;
    cursor: pointer;
}
